.cardimages_w{
    height: auto;
    width: 300px;
    overflow: hidden;
    object-fit: scale-down;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .review .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    background:#f9f9f9;
    padding:2rem;
  }
  
  .review .box-container .box img{
    border-radius: 50%;
    object-fit: cover;
    height:15rem;
    width:15rem;
    margin:1rem 0;
  }
  
  .review .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
  }
  
  .review .box-container .box p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
  }
  
  .review .box-container .box .stars i{
    color:var(--orange);
    font-size: 2rem;
  }
  .review-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    }
  

    .grid_wrap_review{
      
    width: 85%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
      
    grid-gap: 5pt 40pt;

    }

.review_card_w{
  background: rgba(0,0,0,0.1);
  padding: 8pt;
  margin: 2pt;
  display: flex;
  align-items: center;
}

.review_card_1st_child_w{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;

}

.review_body_w{
  padding-left: 20px;
  font-size: 11pt;
  display: flex;

}
.two_button{
  
    padding-left: 320px;

}

.circle{
  
  width: 60pt;
  background: rgba(0,0,0,0.5);
  height: 60pt;

  margin-right: 15pt;

}