:root {
    --primary: #302e2e;
    --white: #fff;
    --black: #222;
    --grey1: #3a3b3c;
    --grey2: #828282;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
  
  html {
    box-sizing: border-box;
    font-size: 60.5%;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
  }
  li {
    list-style: none;
  }

  .container {
    max-width: 114rem;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 1200px) {
    .container {
      padding: 0 3rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      max-width: 60rem;
    }
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .content .row img {
    width: 100%;
    height: 100%;

  }
  
  .content .row header {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--grey1);
  }
  
  .content .row .mega-links {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
    margin-left: -4rem;
  }
  
  .content .row li {
    padding: 0 2rem;
  }
  
  .content .row li a {
    padding: 0 2rem;
    display: block;
    font-size: 1.5rem;
    color: var(--grey2);
  }
  
  .content .row li a:hover {
    color: var(--primary);
  }
  
 
  /* PRODUCTS */
  .section .product-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
  
  .product {
    overflow: hidden;
    
  }
  
  .product .img-container {
    position: relative;
    cursor: pointer;
  }
  
  .product .img-container img {

    height: 250px;
    width: 300px;
    background-size: cover;
    opacity: 1 !important;
    border:#222
  }
  
  .product .bottom {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  .product .bottom a {
    margin-bottom: 1rem;
    font-weight: inherit;
    font-size: 1.5rem;
    color: black!important;
  }
  
  .product .bottom a:hover {
    color: var(--primary);
  }
  
  .product .bottom span {
    margin-top: 10px!important;
    color: var(--primary);
    font-size: "15px";
  }
  
  .product .bottom .cancel {
    font-size: 1.4rem;
    color: var(--grey2);
    text-decoration: line-through;
  }
  
  .product .addCart {
    position: absolute;
    right: 0;
    bottom: 0.6rem;
    background-color: black;
    border-radius: 50%;
    padding: 1.3rem 1.6rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
  }
  
  .product:hover .addCart {
    border-radius: 1rem 0 0 0;
  }
  
  .product .addCart:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
  }
  
  .product i {
    transition: all 300ms ease-in-out;
  }
  
  .product .side-icons {
    position: absolute;
    right: 0;
    top: 30%;
    transform: translate(80%, -50%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: all 500ms ease-in-out;
  }
  
  .product .side-icons span {
    font-size: 1.4rem;
    background-color: white;
    margin: 0.3rem;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
  }
  
  .product .side-icons span:hover {
    border: 2px solid #333333;
    overflow: hidden;    
     
  }
  
  .product:hover .side-icons {
    transform: translate(0%, -50%);
  }
  
  @media only screen and (max-width: 996px) {
    .prodouct-layout {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (max-width: 768px) {
    .prodouct-layout {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 567px) {
    .prodouct-layout {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width:920px) {
    .product .img-container {
      position: relative;
      cursor: pointer;
    }
    
    .product .img-container img {
  
      height: 250px;
      width: 300px;
    }
    
  }
  