
  .loginPanel a:focus,.loginPanel a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }

    .loginPanel .coverbox{
      width: 600px !important;
      margin: auto !important;
      padding-bottom: 20px !important;
     
    }
    .loginPanel .pushcontainer{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 300px !important;
      background-color: silver !important;
      height: 250px !important;
      text-align: center;
      box-shadow: #999;

    }
    .loginPanel .pushcontainer:hover{
      height: 255px !important;
      
    }
  
    .loginPanel input,.loginPanel select,.loginPanel textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }
  
    .loginPanel input::-webkit-outer-spin-button, .loginPanel input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }
  
    .loginPanel input:focus,.loginPanel select:focus,.loginPanel textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
  
    .loginPanel input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important; }
  
    .loginPanel input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important; }
  
    .loginPanel img {
    max-width: 100%;
    height: auto; }
  
   .loginPanel a{
     color: black !important;
     text-decoration: none !important;
   }

    .loginPanel figure {
    margin: 0; }
  
    .loginPanel p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777; }
  
    .loginPanel h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 36px; }
  
    .loginPanel .main {
    background: #f8f8f8;
    padding: 10px 0; }
  
    .loginPanel .clear {
    clear: both; }
  
    .loginPanel .container {
    width: 60%;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    }
  
    .loginPanel .display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  
    .loginPanel .display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  
    .loginPanel .position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  

  
    .loginPanel .signup-form,.loginPanel .signup-image,.loginPanel .signin-form, .loginPanel .signin-image {
    width: 50%;
    overflow: hidden; }
  
    .loginPanel .signup-image {
    margin: 0 55px; }
  
    .loginPanel .form-title {
    margin-bottom: 33px; }
    .loginPanel .form-fptitle {
      margin-bottom: 5px; }
  
    .loginPanel .signup-image {
    margin-top: 45px; }
  
    .loginPanel figure {
    margin-bottom: 50px;
    text-align: center; }
  
    .loginPanel .form-submit {
    display: inline-block;
    background: #000000;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 15px;
    cursor: pointer; }
    .loginPanel .form-submit:hover {
      background: #ffffff; 
    color: black;
    border: 2px solid black;
    }
  
      .loginPanel #signin {
    margin-top: 16px; }
  
    .loginPanel .signup-image-link {
    font-size: 14px;
    color: rgb(80, 78, 78);
    display: block;
    }
    .loginPanel .otp_links{
      margin-left: 50px;
 
    }
    .loginPanel .otp_links a{
      color: black !important;
 
    }
    .loginPanel .otp_links .signup-image-link{
      margin: 0;
      padding: 0;
    margin-left: -50px!important;
    padding-left: 0;
  }
    .loginPanel .term-service {
    font-size: 13px;
    color: #222; }
  
    .loginPanel .signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px; }
  
    .loginPanel .register-form {
    width: 100%; }
  
    .loginPanel .form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden; }
    .loginPanel.form-group:last-child {
      margin-bottom: 0px; }
  
      .loginPanel input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box; }
    .loginPanel input::-webkit-input-placeholder {
      color: #999; }
      .loginPanel input::-moz-placeholder {
      color: #999; }
      .loginPanel input:-ms-input-placeholder {
      color: #999; }
      .loginPanel input:-moz-placeholder {
      color: #999999; }
      .loginPanel input:focus {
      border-bottom: 1px solid #222; }
      .loginPanel input:focus::-webkit-input-placeholder {
        color: #222; }
        .loginPanel input:focus::-moz-placeholder {
        color: #222; }
        .loginPanel input:focus:-ms-input-placeholder {
        color: #222; }
        .loginPanel input:focus:-moz-placeholder {
        color: #222; }
  
        .loginPanel input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none; }
  
    .loginPanel input[type=checkbox]:not(old) + label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px; }
  
    .loginPanel input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #999;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom; }
  
    .loginPanel input[type=checkbox]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white); }
  
    .loginPanel input[type=checkbox]:not(old):checked + label > span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold; }
  
    .loginPanel .agree-term {
    display: inline-block;
    width: auto; }
  
    .loginPanel label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222; }
  
    .loginPanel .label-has-error {
    top: 22%; }
  
    .loginPanel label.error {
    position: relative;
    background-position-y: 3px;
    padding-left: 20px;
    display: block;
    margin-top: 20px; }
  
    .loginPanel label.valid {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background: transparent; }
    .loginPanel  label.valid:after {
      font-family: 'Material-Design-Iconic-Font';
      content: '\f269';
      width: 100%;
      height: 100%;
      position: absolute;
      /* right: 0; */
      font-size: 16px;
      color: green; }
  
      .loginPanel .label-agree-term {
    position: relative;
    top: 0%;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0); }
  
    .loginPanel .material-icons-name {
    font-size: 18px; }
  
    .loginPanel .signin-content {
    padding-top: 67px;
    padding-bottom: 87px;
display: flex;
flex-direction: row;
}
  
    .loginPanel .social-login {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    margin-top: 80px; 
display: flex;
flex-direction: row;
}
  
    .loginPanel .social-label {
    display: inline-block;
    margin-right: 15px; }
  
    .loginPanel .socials li {
        display: inline-block;
    padding: 5px; }
    .loginPanel   .socials li:last-child {
      margin-right: 0px; }
      .loginPanel  .socials li a {
      text-decoration: none; }
      .loginPanel .socials li a i {
        width: 30px;
        height: 30px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        transform: translateZ(0);
        -moz-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        -o-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
        .loginPanel .socials li:hover a i {
            color: blue;
      -webkit-transform: scale(1.3) translateZ(0);
      transform: scale(1.3) translateZ(0); }
  
  
    .loginPanel .signin-form {
    margin-right: 90px;
    margin-left: 80px; }
  
    .loginPanel .signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px; }
  
  @media screen and (max-width: 1200px) {
    .loginPanel .container {
      width: calc( 100% - 30px);
      max-width: 100%; } }
  @media screen and (min-width: 1024px) {
    .loginPanel .container {
      max-width: 1200px; } }
  @media screen and (max-width: 768px) {
    .loginPanel .signup-content,.loginPanel .signin-content {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column;
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center; }
  
      .loginPanel .signup-form {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      /* box-sizing: border-box; */
      padding: 0 30px; }
  
      .loginPanel .signin-image {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 50px;
      order: 2;
      -moz-order: 2;
      -webkit-order: 2;
      -o-order: 2;
      -ms-order: 2; }
  
      .loginPanel .signup-form,.loginPanel .signup-image, .loginPanel.signin-form,.loginPanel .signin-image {
      width: auto; }
  
      .loginPanel .social-login {
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center; }
  
      .loginPanel .form-button {
      text-align: center; }
  
      .loginPanel .signin-form {
      order: 1;
      -moz-order: 1;
      -webkit-order: 1;
      -o-order: 1;
      -ms-order: 1;
      margin-right: 0px;
      margin-left: 0px;
      padding: 0 30px; }
  
      .loginPanel.form-title {
      text-align: center; } }
  @media screen and (max-width: 400px) {
    .loginPanel .social-login {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column; }
  
      .loginPanel .social-label {
      margin-right: 0px;
      margin-bottom: 10px; } }
  
  /*# sourceMappingURL=style.css.map */
  .loginPanel .signin-form .registerOption{
background-color: black;
height: 40px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
  }
  .loginPanel .signin-form .registerOption a{
      color: blanchedalmond ;
      text-decoration: none;
  }
  .loginPanel #your_contact{
    width: 300px;
  }
  .loginPanel .contact_otp{
    display: flex!important;
    flex-direction: row!important;
  }
  .loginPanel .otp_section{
    margin-top: -20px!important;
  }
  .loginPanel .get_otp{
    border-radius: 0px!important;
    width: 120px!important;
    background-color: black!important;
    padding: 5px 10px!important;
    
  }
  @media (max-width:920px) {
    .signin-content{
      display: flex;
      flex-direction: column;
    }
    .signin-image{
      display: none;
    }
    .loginPanel .signup-form,.loginPanel .signup-image,.loginPanel .signin-form, .loginPanel .signin-image {
      width: 100%;
      overflow: hidden; }
      .loginPanel .otp_links{
        width: 100%;
      }
      .loginPanel .otp_links .signup-image-link{
        margin: 0;
        padding: 0;
      margin-left: 0px!important;
      padding-left: 0;
    }
    .loginPanel #your_contact{
      width: 100%!important;
    }
    .loginPanel .contact_otp{
      display: flex;
      flex-direction: column;
    }
    .loginPanel .otp_section{
      margin-top: -20px!important;
    }
    .loginPanel .get_otp{
      border-radius: 0px!important;
      width: 100%!important;
      background-color: black!important;
      padding: 5px 10px!important;
      
    }


    
  }
